<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Vue!</title>
    <!-- VueJS CDN -->
    <script src="https://unpkg.com/vue@next"></script>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./styles.css" />
  </head>

  <body>
    <div id="app">
      <div class="d-flex justify-content-center mt-5" v-if="loading">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <div class="card text-center" v-else>
        <div class="card-header">Pick Your Destination</div>
        <div class="card-body">
          <h5 class="card-title">Where is Your Dream Vacation?</h5>
          <p class="card-text">
            Use the button below to unlock your destination options!
          </p>
          <button
            href="#"
            class="btn btn-primary"
            @click="loadCards = !loadCards"
          >
            Show Destinations!
          </button>
        </div>
        <div class="card-footer" v-show="loadCards">
          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Evian, France</h5>
                  <p class="card-text">
                    Enjoy the serene beauty of the French Alps and enjoy the
                    refreshing water from Lake Geneva.
                  </p>
                  <button
                    id="france"
                    class="btn btn-primary"
                    @click="selectDestination($event)"
                  >
                    Choose
                  </button>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Williams, Arizona</h5>
                  <p class="card-text">
                    Have fun exploring the pine forest of Northern Arizona and
                    take a day trip to the Grand Canyon.
                  </p>
                  <button
                    id="arizona"
                    class="btn btn-primary"
                    @click="selectDestination($event)"
                  >
                    Choose
                  </button>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">La Paz, Mexico</h5>
                  <p class="card-text">
                    Soak up the sun rays at this beautiful Mexican town while
                    enjoying the beach.
                  </p>
                  <button
                    id="mexico"
                    class="btn btn-primary"
                    @click="selectDestination($event)"
                  >
                    Choose
                  </button>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Berlin, Germany</h5>
                  <p class="card-text">
                    Explore the awesome city of Berlin and learn about its rich
                    history.
                  </p>
                  <button
                    id="germany"
                    class="btn btn-primary"
                    @click="selectDestination($event)"
                  >
                    Choose
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="card" v-if="destinationId === 'france'">
            <div class="card-header">You Are Going To:</div>
            <div class="card-body">
              <p>Evian, France!</p>
            </div>
          </div>
          <div class="card">
            <div class="card-header">You Are Going To:</div>
            <div class="card-body">
              <p>Williams, Arizona!</p>
            </div>
          </div>
          <div class="card">
            <div class="card-header">You Are Going To:</div>
            <div class="card-body">
              <p>La Paz, Mexico!</p>
            </div>
          </div>
          <div class="card">
            <div class="card-header">You Are Going To:</div>
            <div class="card-body">
              <p>Berlin, Germany</p>
            </div>
          </div>
          <div></div>
        </div>
      </div>
    </div>

    <script src="./scripts.js"></script>
  </body>
</html>
